<div class="form">
  <h1>ZipCheck</h1>
 <img src='Pitch.png' width='200' id='logo' />
  
  <div id='prompt-wrapper'>
    <div id='prompt'>
      <h2>Am I in a high breast cancer area?</h2>
      <p>Breast cancer rates vary over the country. Some of this variation may come from environmental factors. What is the rate in your neighborhood?</p>
      <input class = "get_zip" type="text" placeholder="Where do you live?" value='02145'>
      <button class='submit'>Go</button>
    </div>
  </div>

  <div id='map'></div>

  <div id='info'>
    <div id='chart'></div>
  </div>

  <div id='controller'>
    <h2>Map Controls</h2>
    <button class='incidence active'>Incidence</button>
    <button class='mortality'>Mortality</button>

    <div id='scale'>
    </div>
  </div>

  <h3 id="meetups"></h3>
  <ul id="meetups_list"></ul>
</div>
