<div class="form">
  <h1>ZipCheck</h1>
  <h2>Are you in a cancer hot spot? Check now</h2>
    <input id = "get_zip" type="text" placeholder="Enter Your Zip Code">
    <br>
    <br>
    <h3 id="meetups"></h3>
    <ul id="meetups_list"></ul>
</div>