<div class="form">
  <h1>title</h1>
  <h2>description</h2>
  <form id="zip_code_form" action="/zipcheck_result" method="post">
    <input type="text" name="zip_code" placeholder="Enter Your Zip Code">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>